:root {
  --close-white: #e0e0e0;
}

.box {
  background: white;
  box-shadow: 5px 0 5px -5px #333;
  height: calc(100vh - 2.5rem);
}

.fake-btn {
  width: 100%;
  height: 3rem;
  padding: 1rem 0 1rem 2rem;
  cursor: pointer;
  transition: all 0.4s;
  background: white;
  margin: 0;

  &:hover {
    background: var(--close-white);
  }
}

.user {
  width: 100%;
  height: max-content;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 5px 5px -5px #333;
  cursor: pointer;
  transition: all 0.4s;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 1rem 1rem;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;

  &:hover {
    background: var(--close-white);
  }

  .avatar{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 2.5rem;
    height: 2.5rem;
    background: red;
    border-radius: 50%;
  }

  .name{
    grid-column: 2/3;
    grid-row: 1/2;
    text-transform: capitalize;
    font-weight: bold;
    color: #454545;
  }

  .job{
    grid-column: 2/3;
    grid-row: 2/3;
    color: green;
    font-weight: bold;
    text-transform: uppercase;
  }
}


mat-expansion-panel {
  border-radius: 0;
  box-shadow: none !important;
}

mat-panel-title {
  padding-top: 1.5rem;
}

.padding-left {
  padding-left: 0.5rem;
}

