.box{
  width: 100%;
  border: none;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 6px;
  margin-top: 1rem;

  .custom{
    width: 100%;
    height: max-content;
  }
}

.btn-custom{
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background: none;
  background: #ececec;
  transition: all 0.3s;
  border-radius: 1.5rem;
  cursor: pointer;
  color: #6d6d6d;
}
