<div class="group">
  <input class="input" type="text">
  <div class="gr-friend">
    <div class="btn-friend" (click)="openDialog()" *ngFor="let eachUser of user">
      <img class="avt" src="https://www.w3schools.com/howto/img_avatar.png" alt="">
      <p class="name">{{eachUser.name}}</p>
      <small class="sub-pst" [class.job]="eachUser.job" *ngIf="eachUser.job == 1">it</small>
      <small class="sub-pst" [class.job]="eachUser.job" *ngIf="eachUser.job == 2">pt</small>
    </div>
  </div>
</div>
